<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./dist/main.css">
  <title>LTTC</title>
</head>
<body>
  <div id="app">
    <div class="left">
      <h1 class="block">Listen to the crime</h1>
      <div class="block control">
        <div class="play btn" @click="play"></div>
        <div class="pause btn" @click="pause"></div>
        <div class="next btn" @click="next"></div>
      </div>
      <div class="block">
        <div class="vol">
          R:<input min="0" max="100" step="1" type="range" v-model="volR" @change="setVolR">
        </div>
        <div class="vol">
          M:<input min="0" max="100" step="1" type="range" v-model="volM" @change="setVolM">
        </div>
      </div>
      <div class="block author">
        Open-Source project by
        <a href="https://github.com/deadblackclover" target="_blank">DEADBLACKCLOVER</a>
        <br>
        The program is distributed under the terms of the GNU General Public License
      </div>
    </div>
    <div class="right">
      <div class="block police" id="police">
        <div class="btn" @click="setRadio('SFPD1', $event)">
          SFPD Southern, Central, Tenderloin, Park, Northern
        </div>
        <div class="btn active" @click="setRadio('SFPD2', $event)">
          SFPD Bayview, Mission, Richmond, Ingleside, Taraval
        </div>
        <div class="btn" @click="setRadio('SFFD', $event)">
          SFFD/EMS
        </div>
      </div>
      <div class="block music" id="sc">
        <div class="btn" @click="setMusic('lofi', $event)">
          Lofi Hip-Hop
        </div>
        <div class="btn active" @click="setMusic('chill', $event)">
          Chillout
        </div>
        <div class="btn" @click="setMusic('trance', $event)">
          Trance
        </div>
      </div>
    </div>
    <audio :src="radio" autoplay></audio>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" :src="music"></iframe>
  </div>
  <script src="./dist/main.js"></script>
</body>
</html>