@font-face
  font-family Kaushan
  src url('../src/font/Kaushan.ttf')

@keyframes btnh {
  from { background-size: 100% }
  50% { background-size: 105% }
  to { background-size: 100% }
}

body
  margin 0
  background-image url('https://picsum.photos/1440/900?random')
  font-family Arial

h1
  background-color white
  box-shadow 0 0 10px black
  width 200px
  padding 10px
  font-family Kaushan

iframe
  visibility hidden
  position absolute
  top 0

.police, .music, .control
  margin-top 20px
  background-color white
  box-shadow 0 0 10px black
  width 200px
  padding 10px

.control
  display flex
  flex-direction row
  justify-content center

.control div
  background-repeat no-repeat
  width 35px
  height 35px

.play:hover, .pause:hover, .next:hover
  animation btnh 1s ease

.play
  background-image url('../src/img/play.png')

.pause
  background-image url('../src/img/pause.png')

.next
  background-image url('../src/img/forward.png')

.btn
  margin 5px
  &:hover
    text-shadow 0 0 5px #c3c3c3

.active
  &:before
    content '* '