body
  margin 0
  background-image url('https://picsum.photos/1440/900?random')
  font-family Arial

h1
  background-color white
  box-shadow 0 0 10px black
  width 200px
  padding 10px

iframe
  visibility hidden
  position absolute
  top 0

.police, .music, .control
  margin-top 20px
  background-color white
  box-shadow 0 0 10px black
  width 200px
  padding 10px

.btn
  margin 5px
  &:before
    content '* '
  &:hover
    text-shadow 0 0 5px #c3c3c3